<%# Treatment Plan Change modeled with CarePlanWithReview Template %>
<%# Uses the ICARE R4 Care Plan profile which is not published yet %>
<%# For reference, ICARE R4 Care Plan profile: http://standardhealthrecord.org/guides/icare/StructureDefinition-icare-care-plan-with-review.html %>
<% /* %>
{
  id: String,
  effectiveDateTime: DateTime,
  effectiveDate: Date,
  treatmentPlanChange: {
    hasChanged: Boolean,
    reason: {
      code: String,
      displayText: String,
    }
  },
  subject: {
    id: String,
    name: String,
  },
}
<% */ %>
{
  "resourceType": "CarePlan",
  "id": "<%- id %>",
  "meta": {
    "profile": [
      "http://standardhealthrecord.org/guides/icare/StructureDefinition-icare-CarePlanWithReview.html"
    ]
  },
  "text": {
    "status": "additional",
    "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\">This resource details the Treatment Plan Changes for a particular patient over a period of time, as modeled in the ICAREdata usecase of mCODE. It is based on the profile found here: http://standardhealthrecord.org/guides/icare/StructureDefinition-icare-CarePlanWithReview.html</div>"
  },
  "extension": [
    {
      "url": "http://mcodeinitiative.org/codex/us/icare/StructureDefinition/icare-care-plan-review",
      "extension": [
        <% if (treatmentPlanChange.reason) { %>
        {
          "url": "CarePlanChangeReason",
          "valueCodeableConcept": {
            <%# R4 valueset:  http://standardhealthrecord.org/guides/icare/ValueSet-icare-care-plan-change-reason-vs.html  %>
            "coding": [
              {
                "system": "http://snomed.info/sct",
                "code": "<%- treatmentPlanChange.reason.code %>" <% if (treatmentPlanChange.reason.displayText) { %>,
                "display": "<%- treatmentPlanChange.reason.displayText %>"
                <% } %>
              }
            ] <% if (treatmentPlanChange.reason.displayText) { %>,
            "text": "<%- treatmentPlanChange.reason.displayText %>"
            <% } %>
          }
        },
        <% } %>
        {
          "url": "ReviewDate",
          "valueDate": "<%- effectiveDate %>"
        },
        {
          "url": "ChangedFlag",
          "valueBoolean": <%- treatmentPlanChange.hasChanged %>
        }
      ]
    }
  ],
  "subject" : {
    "reference": "Patient/<%- subject.id %>" <% if (subject.name) { %>,
    "display": "<%- subject.name %>"
    <% } %>
  },
  "status": "draft",
  "intent": "proposal",
  "created": "<%- effectiveDateTime %>",
  "category": [
    {
      "coding": [
        {
          "code": "assess-plan",
          "system": "http://argonaut.hl7.org"
        }
      ]
    }
  ]
}
